<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
	<display-name>WGAPublisher</display-name>
	<distributable />
	<filter>
		<filter-name>WGAFilter</filter-name>
		<display-name>WGAFilter</display-name>
		<filter-class>de.innovationgate.wgpublisher.filter.WGAFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WGAFilter</filter-name>
		<servlet-name>WGPDispatcher</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>WGAFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>de.innovationgate.wgpublisher.WGAServletContextListener</listener-class>
		<listener-class>de.innovationgate.wgpublisher.sessions.WGAHttpSessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>WGPDispatcher</servlet-name>
		<display-name>WGPDispatcher</display-name>
		<servlet-class>de.innovationgate.wgpublisher.WGPDispatcher</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WGPDispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>htm</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpeg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jnlp</extension>
		<mime-type>application/x-java-jnlp-file</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>application/wsdl+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xul</extension>
		<mime-type>application/vnd.mozilla.xul+xml</mime-type>
	</mime-mapping>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.innovationgate.de/wgpublisher/webtml/2.2</taglib-uri>
			<taglib-location>/WEB-INF/tlds/webtml.tld</taglib-location>
		</taglib>
	</jsp-config>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>WGA2</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>
</web-app>
