<?xml version='1.0' encoding='utf-8'?>

<Server port="${tomcat_server_port}" shutdown="SHUTDOWN">

  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <Service name="Catalina">

    <Connector port="${tomcat_http_port}" protocol="org.apache.coyote.http11.Http11NioProtocol" 
               connectionTimeout="20000" 
               redirectPort="${tomcat_redirect_port}" maxThreads="4"/>

    <Engine name="Catalina" defaultHost="localhost">

      <Host name="localhost" 
      		appBase="${wga_appbase}"
      		workDir="${wga_workdir}"
            unpackWARs="true" autoDeploy="true">
      </Host>
    </Engine>
  </Service>
</Server>