Package: @PACKAGE@
Version: @VERSION@
Section: web
Priority: optional
Architecture: all
Depends: adduser,sun-java6-jdk|openjdk-6-jdk|java6-sdk|java5-sdk
Conflicts: openwga
Replaces: openwga
Provides: openwga 
Maintainer: Innovation Gate GmbH <support@innovationgate.com>
Description: Open Source Java CMS Platform
 The OpenWGA Community Edition is a fully-featured CMS web platform 
 for the needs of small and medium businesses, available under fair open source terms and without any fee.
 Visit http://www.openwga.com for more details.
